.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 80%;
  display: block;
  margin: 2% auto;
}

@media (max-width: 770px) {
  .container {
    width: 100%;
  }
  .img {
    width: 100%;
  }
}
